.game-item {
  text-align: center;
  width: 180px;
  padding: 5px;
  border-radius: 15px;

  margin-right: 70px;
  position: relative;
}

.game-item:hover {
  box-shadow: 1px 1px 15px 2px black;
}

.game-item .game-logo {
  padding: 5px;
  border-radius: 20px;
  width: 150px;
}

.img-heart {
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  width: 50px;
  cursor: pointer;
}

.img-heart:hover {
  opacity: 1;
}
