video {
    max-width: 100%;
    /* width: 320px; */
    z-index: 1000;
   
  }

  #my {
    width: 70%;
  }

  #other{
    width: 100px;
    position: relative;
    top: -260px;
    left: 10px;
    
    width: 250px;
    height: 250px;
  }

  .images{
    display: flex;
    justify-content: space-around;
    width: 500px;
    position: absolute;
    bottom: 10px;
   left: 150px;
  }

  .images > div {
    padding: 20px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
   
  }