.status{
    height: 100px;
    width: 70px;
    background-color: blanchedalmond;
    font-size: 70px;
    text-align: center;
}

.info{
    display: flex;
    
   
}

.result{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 50px;
    
}