.game {
    margin-left: 50px;
}
.status{
    height: 100px;
    font-style: italic;
    margin-top: 20px;
    font-size: 70px;
    text-align: center;
}

.info{
    display: flex;
    
   
}

.result{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 50px;
    
}